@model AuthorViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container" style="text-align:center">

    <h2>@Model.Name</h2>

    <hr class="mt-2 mb-3" style="height:3px;border:none;" />

    <div class="row">
        <img src="@Model.ImageUrl" style="display:block; width:450px; height:350px; margin-left: auto; margin-right:auto;" />
    </div>

    <hr class="mt-2 mb-3" style="height:3px;border:none;" />

    <p class="text-left" style="font-size:large">
        @(string.IsNullOrWhiteSpace(Model.Description) ? "There is no description of this author as of yet." : Model.Description)
    </p>

    <hr class="mt-2 mb-3" style="height:3px;border:none;" />

    <h2>@(Model.Books.Count) Works</h2>
    <div class="list-group">
        @foreach (var book in Model.Books)
        {
            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="font-weight-light">@book.Title</a>
        }
    </div>
    @if (User.IsInRole(AdminConstants.AdminRoleName))
    {
        <a asp-area="Admin" asp-controller="Authors" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mt-3">Edit</a>
    }
</div>