@model BookDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container" style="text-align:center">
    <h2>@Model.Title</h2>

    <div class="row">
        <h5 class="font-weight-light mb-1"><b class="font-weight-bold"></b> <i>@Model.Release</i></h5>
    </div>

    <hr class="mt-2 mb-3" style="height:3px;border:none;" />

    <div class="row" style="width:20rem; margin: auto;">
        <div class="col-3">
            <img src="@Model.ImageUrl" style="margin-left:auto; margin-right:auto;"/>
        </div>
    </div>

    <hr class="mt-2 mb-3" style="height:3px;border:none;" />

    <div class="font-weight-light">
        <h4 class="text-left font-weight-bold" style="font-size:large">
            Author: <a asp-controller="Authors" asp-action="Details" asp-route-authorId="@Model.AuthorId" class="font-weight-light">@Model.Author</a>
        </h4>
        <h4 class="text-left font-weight-bold" style="font-size:large">
            Published By: <a asp-controller="Publishers" asp-action="Details" asp-route-publisherId="@Model.PublisherId" class="font-weight-light">@Model.Publisher</a>
        </h4>
        <h4 class="text-left font-weight-bold" style="font-size:large">
            Category: <i class="font-weight-light">@Model.Category</i>
        </h4>
        <h4 class="text-left font-weight-bold" style="font-size:large">
            Price: <i class="font-weight-light">@Model.Price $</i>
        </h4>

        <p class="text-left" style="font-size:large">
            @Model.Description
        </p>
    </div>

    <hr class="mb-2" style="height:3px;border:none;" />
    @if (!User.IsInRole(AdminConstants.AdminRoleName) && User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" href="/Carts/AddToCart?bookId=@Model.Id">Add To Cart</a>
    }
</div>